<!DOCTYPE html>
<html lang="es">
    <head>
        <title>ONG Ayuda a un peludo</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="js/localizacion.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div class="container bg-light d-flex flex-column sticky-footer-wrapper min-vh-100">
            <header class="jumbotron">              
                <h1 class="text-center">
                    <img src="{% static 'app/img/logo.png' %}" width="200" alt="logo"/>
                    <span class="text-nowrap">ONG Ayuda a un Peludo</span>
                </h1>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam repellat earum fuga? Nihil adipisci in ut labore nobis, earum eos possimus ex eum eveniet delectus suscipit mollitia perspiciatis, repellat vitae!
                </p>
            </header>
            <nav class="navbar navbar-expand-md bg-light">
                
                <a class="navbar-brand" href="#">
                    <img src="{% static 'app/img/logo.png' %}" width="80" alt="Logo" />
                </a>

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Mascotas
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'seccion_perros' %}">Perros</a>
                            <a class="dropdown-item" href="{% url 'seccion_gatos' %}">Gatos</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Proveedores
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'agregar_proveedor' %}">Agregar Proveedor</a>
                            <a class="dropdown-item" href="{% url 'listar_proveedor' %}">Listar Proveedor</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <main class="flex-fill">
                <div class="row">
                    <div class="col-6-md text-center">
                        <table id="tiempo" class="table table-dark font-weight-bolder" style="border-radius: 20px;">
                            <tr>
                                <td style="border-top:none;" colspan="3">
                                    <span id="tiempo-lugar"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="my-auto">
                                    <img id="tiempo-icono" src="" alt="Ícono del tiempo" title="tiempo" />
                                </td>
                                <td class="my-auto">
                                    <span class="display-4" id="tiempo-temperatura"></span>
                                </td>
                                <td>
                                    Viento: <span id="tiempo-viento"></span><br/>
                                    Precipitaciones: <span id="tiempo-precipitaciones"></span><br/>
                                    Presión: <span id="tiempo-presion"></span><br/>
                                    Humedad: <span id="tiempo-humedad"></span><br/>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <div id="ajax-loader" class="spinner-border spinner-border-md"></div>
                        </div>
                    </div>
                    <div class="col-6-md text-center">
                        <section>
                            <h2>
                                <a href="seccion-perros.html" title="Perros">
                                    <img src="img/seccion-perros.jpg" title="Perros" alt="Perros" class="rounded-circle img-thumbnail" width="250"  />
                                </a>
                                <a href="seccion-gatos.html" title="Gatos">
                                    <img src="img/seccion-gatos.jpeg" title="Gatos" alt="Gatos"  class="rounded-circle img-thumbnail" width="250"/>
                                </a>
                            </h2> 
                        </section>
                    </div>
                </div>        
            </main>
            <footer>
                
                <div class="row bg-dark">
                    <div class="col-12 text-center text-warning">
                            Programación Web<br/>
                            Instituto Profesional Duoc UC
                    </div>
                </div>
            </footer>
        </div>        
    </body>
</html>